<div id="nav-helper-button" class="nav-helper-btn">
    <i class="fa fa-search"></i>
</div>

<div id="nav-helper-modal" class="nav-helper-modal hidden">
  <div class="nav-helper-content">

    <div class="nav-helper-searchbar">
      <input type="text" id="nav-helper-input" placeholder="Enter a Course Name">
      <button id="nav-helper-search-btn" type="button">Go</button>
    </div>

    <ul id="nav-helper-results"></ul>
  </div>
</div>
